/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
to top right, #fc2c77 0%, #6c4079 100%
    
    );
} */

/* .container{
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0,1);

} */

body{
 
    /* background-image: url(../recursos/imagenes/esperanza.jpg);  */
    background-repeat: no-repeat; 
    background-size: cover;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e4e1e1;
}

.add, .add2, .add3{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    font-size: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
   
}
/* 
.mas{
    text-decoration: none;
    display: inline-block;
    background: #277BC0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.menos{
    text-decoration: none;
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 40px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 100px;
    margin-top: 5px;
} */

input{
    padding: 8px 10px;
    border-color: #b0b0b0;
    width: 50%;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid #efefef;
}

.table th, td{
        padding-left: center;
        border:1px solid black;
           
    }


#buttonIniciar{
    width: 290px;
    text-align: center;
}


#img{ 
    height: 350px;
}
.titulocarr{
    color: black;
    font-size: xx-large;
}
#textocarr{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#imgfis{
    width: 330px;
    height: 190px;
}
.alinear{
    text-align: left;
}

.table th, td{
    padding-left: center;
    border:1px solid black;
   

}

/**/
.btnSubir{
    padding: 8px 10px;
    border-color: #b0b0b0;
    width: 50%;
    border-radius: 5px;
    width: 80px;
    background: #277BC0;
}

.btnBajar{
    padding: 8px 10px;
    border-color: #b0b0b0;
    width: 50%;
    border-radius: 5px;
    width: 80px;
    background: #FF9494;
}


